In [1]:
#Read in Data
d0=scan("Zl0d.dat",nlines=1000,n=256000)
d1=scan("Zl1d.dat",nlines=1000,n=256000)
d2=scan("Zl2d.dat",nlines=1000,n=256000)
d3=scan("Zl3d.dat",nlines=1000,n=256000)
d4=scan("Zl4d.dat",nlines=1000,n=256000)
d5=scan("Zl5d.dat",nlines=1000,n=256000)
d6=scan("Zl6d.dat",nlines=1000,n=256000)
d7=scan("Zl7d.dat",nlines=1000,n=256000)
d8=scan("Zl8d.dat",nlines=1000,n=256000)
d9=scan("Zl9d.dat",nlines=1000,n=256000)

In [2]:
# Join Data
d=c(d0,d1,d2,d3,d4,d5,d6,d7,d8,d9)
d=matrix(d,256,10000)
d=t(d)
dim(d)

[1] 10000   256

In [3]:
# classes = c(rep("one", 1000), rep("two", 1000), rep("three", 1000), rep("four", 1000), rep("five", 1000), rep("six", 1000), rep("seven",1000), rep("eight", 1000), rep("nine", 1000))
# img_nd_class = cbind(d, classes)
# dim(img_nd_class)

In [4]:
#Create Distance Function
dist = function(a,b)
{
    sum((a-b)^2)
}

In [5]:
# Create KNN function
knn = function(data, k, point, dis)
{
    dists = apply(data, 1 , dis, point)
    dists_ind = order(dists)
    smallest_ind = dists_ind[2:k + 1]
    t = table(as.integer((smallest_ind-1)/1000))
    class = names(which.max(t))
    class
}

In [6]:
# output the class of the nearest neighbours to the value "2001"
knn(d, 6, d[2001,], dist)

[1] "2"

In [7]:
#Get classifications for 0's
class0 = NULL
for (i in c(1:1000))
{
    class0 = cbind(class0, knn(d, 6, d[i,], dist))
}
table(class0)

class0
  0   1   2   6   7   8   9
975  10   2   5   2   3   3

In [8]:
#Get classifications for 1's
class1 = NULL
for (i in c(1001:2000))
{
    class1 = cbind(class1, knn(d, 6, d[i,], dist))
}
table(class1)

class1
  0   1   4   7   8
  3 993   1   1   2

In [9]:
#Get classifications for 2's
class2 = NULL
for (i in c(2001:3000))
{
    class2 = cbind(class2, knn(d, 6, d[i,], dist))
}
table(class2)

class2
  0   1   2   7   8
  1   1 991   3   4

In [10]:
#Get classifications for 3's
class3 = NULL
for (i in c(3001:4000))
{
    class3 = cbind(class3, knn(d, 6, d[i,], dist))
}
table(class3)

class3
  2   3   5   7   8   9
  4 982   6   1   2   5

In [11]:
#Get classifications for 4's
class4 = NULL
for (i in c(4001:5000))
{
    class4 = cbind(class4, knn(d, 6, d[i,], dist))
}
table(class4)

class4
  0   1   2   4   5   6   7   9
  2   6   2 981   1   2   4   2

In [12]:
#Get classifications for 5's
class5 = NULL
for (i in c(5001:6000))
{
    class5 = cbind(class5, knn(d, 6, d[i,], dist))
}
table(class5)

class5
  3   4   5   6   8   9
  2   1 993   2   1   1

In [13]:
#Get classifications for 6's
class6 = NULL
for (i in c(6001:7000))
{
    class6 = cbind(class6, knn(d, 6, d[i,], dist))
}
table(class6)

class6
  5   6
  3 997

In [14]:
#Get classifications for 7's
class7 = NULL
for (i in c(7001:8000))
{
    class7 = cbind(class7, knn(d, 6, d[i,], dist))
}
table(class7)

class7
  0   1   2   4   7   9
  1   5   2  13 977   2

In [15]:
#Get classifications for 8's
class8 = NULL
for (i in c(8001:9000))
{
    class8 = cbind(class8, knn(d, 6, d[i,], dist))
}
table(class8)

class8
  0   1   2   3   4   5   6   8   9
  1   1  20  20   1  17   6 928   6

In [17]:
#Get classifications for 9's
class9 = NULL
for (i in c(9000:10000))
{
    class9 = cbind(class9, knn(d, 6, d[i,], dist))
}
table(class9)

class9
  1   2   3   4   5   7   8   9
  2   6  23  20   8   7   3 932

In [18]:
#Get classifications for all numbers
fullClass = NULL
for (i in c(1:10000))
{
    fullClass = rbind(fullClass, knn(d, 6, d[i,], dist))
}
table(fullClass)

fullClass
   0    1    2    3    4    5    6    7    8    9
 983 1018 1027 1027 1017 1028 1012  995  942  951

In [19]:
# Create Confusion matrix
confusion = matrix(0,10,10)
rownames(confusion) = c("0", "1", "2", "3", "4", "5", "6", "7", "8", "9")
colnames(confusion) = c("0", "1", "2", "3", "4", "5", "6", "7", "8", "9")

In [20]:
# Populate confusion matrix
for (i in c(0:9))
{
    t = table(fullClass[(1000*i + 1):(1000*(i + 1))])
    confusion[i+1, names(t)] = t
}

In [21]:
# Show confusion matrix
confusion

  0   1   2   3   4   5   6   7   8   9
0 975  10   2   0   0   0   5   2   3   3
1   3 993   0   0   1   0   0   1   2   0
2   1   1 991   0   0   0   0   3   4   0
3   0   0   4 982   0   6   0   1   2   5
4   2   6   2   0 981   1   2   4   0   2
5   0   0   0   2   1 993   2   0   1   1
6   0   0   0   0   0   3 997   0   0   0
7   1   5   2   0  13   0   0 977   0   2
8   1   1  20  20   1  17   6   0 928   6
9   0   2   6  23  20   8   0   7   2 932

In [22]:
# Show diagonals of confusion matrix
sum(diag(confusion))

[1] 9749